<div class="headerNav animate__animated animate__bounceInDown">
    <div class="companyName">
        <p class="m-0 te">RBMS</p>
    </div>
    <div class="collapse-menu">
        <!-- <button type="button" id="logout" class="btn btn-danger">Logout</button> -->
        <div class="hamburger" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="Left popover">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="links">
            <ul class="h-menu">
                <li>
                    <a id="editProf" data-bs-toggle="offcanvas" href="#profEdit" role="button" data-bs-target="#profEdit" aria-controls="offcanvasWithBackdrop">Edit Profile</a>
                </li>
                <hr />
                <li><a href="#" id="logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
