@import './assets/bootstrap/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');

* {
  font-family: 'Monda', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow: hidden;
  padding: 10px

}
body {
  background-color: #D6D6CA;
}
.Contents{
  height: 97dvh;
}
.Content-Page {
  margin-left: 250px;
  height: 97dvh;
  padding: 0 10px 10px 10px;
}
.form-control:focus {
  outline: none !important;
  border:1px solid #355E3B;
  box-shadow: 0 0 0 0.25rem #4597516e;
}

/* Navbar/SideNav */
.navbar {
  position: fixed;
  display: block;
  width: 250px;
  height: 97dvh;
  border-radius: 12px;
  background-image: linear-gradient(
      0deg,
      hsl(155deg 17% 45%) 0%,
      hsl(151deg 18% 42%) 20%,
      hsl(147deg 19% 39%) 40%,
      hsl(142deg 21% 36%) 60%,
      hsl(136deg 24% 33%) 80%,
      hsl(129deg 28% 29%) 100%
  );
}

.Logo {
  margin-top: 50px;
  margin-bottom: 50px;
  #logo {
      display: block;
      margin: auto;
      width: 100px;
      height: 100px;
  }
}

.nav {
  margin-left: 40px;
}
.nav .nav-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav .nav-item .nav-link {
  /* background-color: #355E3B; */
  border-radius: 12px 0 0 12px;
  padding-left: 20px;
  transition: padding-left 0.5s ease-in-out;
  color: white;
}
.nav .nav-item .nav-link.active {
  background-color: #355E3B;
  border-radius: 12px 0 0 12px;
  padding-left: 40px;
  transition: padding-left 0.1s ease-in-out;
  color: white;
}
.nav .nav-item .nav-link:hover {
  background-color: #355E3B;
  border-radius: 12px 0 0 12px;
  padding-left: 40px;
  transition: padding-left 0.1s ease-in-out;
  color: white;
}
/* offcanvas */
.offcanvas {
  width: 96.5% !important;
  height: 95%;
  margin: auto;
  margin-left: 19.5px;
  position: absolute;
  background-color: #D6D6CA;
  border-radius: 12px;
}
.offcanvas .offcanvas-header {
  background-color: #355E3B;
  border-radius: 12px 12px 0 0;
}
.offcanvas .offcanvas-body .form-title {
  display: flex;
  justify-content: space-between;
}
.offcanvas .offcanvas-body #btnEdit{
  appearance: none; 
  background: none; 
  outline: none; 
  border: none;
  margin-right: 20px;
  display: flex;
}
.offcanvas .offcanvas-body #btnEdit:hover {
  color: #355E3B;
}
.offcanvas .offcanvas-body #btnEdit i {
  font-size: 28px;
}
.offcanvas .offcanvas-body #btnEdit i span {
  font-size: 28px;
  padding-bottom: 5px;
}

.offcanvas .offcanvas-body .buttons{
  padding-left: 35%;
}

.offcanvas .offcanvas-body .buttons .btn {
  margin-left: 5px;
  margin-right: 5px;
}

/* SECTIONS */
section{
  width: 100%;
  height: 100vh;
  padding-top: 60px;
}
/* HOME */
#HomePage #home-title-page #htp {
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 10px;
}

.top-cards{
  margin-bottom: 10px;
}

.top-cards .card {
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}
.top-cards .greet-card, .top-cards .calendar-card {
  height: 200px;
}
.card-image {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 120px; /* adjust the width and height as needed */
  height: 140px;
  object-fit: cover;
}
.top-cards .card .card-body .greet {
  font-size: 18px;
  font-weight: bold;
}

.top-cards .card .card-body .card-text {
  font-size: 12px;
  width: 300px;
}

.bottom-cards{
  padding-top: 40px;
}
.bottom-cards .card {
  height: 150px;
  margin: 0;
}
.bottom-cards .card .card-body .revIcon {
  height: 75px;
  width: 100px; 
}
.bottom-cards .card .card-body .accIcon {
  height: 75px;
  width: 100px; 
}
.bottom-cards .card .card-body .mapIcon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 150px;
  width: 205px
}
.bottom-cards .card .card-body .gpsTText {
  position: absolute;
  text-align: center;
  margin: auto;
  display: block;
  bottom: 25px;
  left: 0;
}
.bottom-cards .card .card-body .bikeIcon {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  height: 75px;
  width: 100px; 
}

.bottom-cards .card {
  transform: translateY(0);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  transition: transform .2s ease-in, box-shadow .2s ease-in;
  
}
.bottom-cards .revCard:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 30px 35px 10px rgba(0,0,0,0.1);
}
.bottom-cards .accCard:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 30px 35px 10px rgba(0,0,0,0.1);
}
.bottom-cards .mapCard:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 30px 35px 10px rgba(0,0,0,0.1);
}
.bottom-cards .bikeCard:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0px 30px 35px 10px rgba(0,0,0,0.1);
}




/* BikeUploadPage */
#BikeUploadPage .form-container {
  margin-left: 0;
  margin-right: auto;
  margin-top: 15px;
  width: 770px;
  height: 595px;
  background-color: whitesmoke;
  border-radius: 12px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  padding: 15px;
  overflow-y: auto;

  p {
    font-size: 20px;
  }
}
#BikeUploadPage .form-container::-webkit-scrollbar {
  width: 8px;
  background: #969683;
  border-radius: 12px;
}
#BikeUploadPage .form-container::-webkit-scrollbar-thumb {
  background-color: #355E3B;
  border-radius: 12px;
}



#BikeUploadPage .form-container .form-body .btnGroup {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  #btnUp, #btnReset {
    width: 150px;
  }
}
#BikeUploadPage .form-container .form-body .bikeImg {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
#BikeUploadPage .form-container .form-body .bikeImg .card-img  img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* revenue */
#RevenuePage .Title{
  font-size: 28px;
}
#RevenuePage .cards {
  width: 500px;
}
#RevenuePage .card {
  height: 200px;
  width: 150px;
}
#RevenuePage .card .card-body .sale-title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
  span {
    font-size: 10px;
  }
}
.chart{
  margin-top: 15px;
  margin-left: 45px;
}
.chart #revChart {
  width: 650px !important;
  height: 330px !important;
}

/* RESERVATION */
#ReservationsPage > .container-res {
  /* background-color: aqua; */
  /* margin-top: 63px; */
  padding: 2rem;
}
#ReservationsPage > .container-res > #title-res {
  /* background-color: aqua; */
  font-size: 22px;
}
#ReservationsPage > .container-res > #line-divider {
  /* background-color: aqua; */
  width: 100%px;
  height: 5px;
  background-color: #099654;
  border-radius: 5px 5px 0 0;
  margin-top: 15px;
}
#table-res-container {
  margin-top: 50px;
}
table.res-table {
  background-color: #f5f5f5;
  display: block;
  width: 700px;
  height: 450px;
  overflow: auto;
  white-space: nowrap;
}

table.res-table td {
  border: 1px solid #f5f5f5;
}
table.res-table tr:nth-child(odd) {
  background: #dedede;
}
table.res-table thead th {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
}


/* walkin */
#WalkInPage > .container-win {
  /* background-color: aqua; */
  /* margin-top: 63px; */
  padding: 2rem;
}
#WalkInPage > .container-win > #title-win {
  /* background-color: aqua; */
  font-size: 22px;
}
#WalkInPage > .container-win > #line-divider {
  /* background-color: aqua; */
  width: 100%;
  height: 5px;
  background-color: #099654;
  border-radius: 5px 5px 0 0;
  margin-top: 15px;
}
#table-win-container {
  margin-top: 50px;
}
table.win-table {
  background-color: #f5f5f5;
  display: block;
  width: 700px;
  height: 450px;
  overflow: auto;
  white-space: nowrap;
}
table.win-table td {
  border: 1px solid #f5f5f5;
}
table.win-table tr:nth-child(odd) {
  background: #dedede;
}
table.win-table thead th {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
}

/* GPS */
#GPSTrackingPage .gps-container {
  /* background-color: rgb(163, 113, 113); */
  /* margin-top: 63px; */
  width: auto;
}
#GPSTrackingPage .gps-container .GPS-Title{
  display: flex;
  align-self: flex-start;
  margin-left: 40px;
}
#GPSTrackingPage .gps-container .bike-container {
  background-color: #355E3B;
  width: 650px;
  height: 525px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 12px;
}
#GPSTrackingPage .gps-container  .bike-container .bikes {
  position: relative;
  flex-direction: column;
  width: 120px;
  height: fit-content;
  top: 40px;
  left: 30px;
}

#GPSTrackingPage .gps-container  .bike-container .bikes button{ 
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120px;
  padding: 10px;
  appearance: none;
  border: none;
  font-weight: bold;
}
#GPSTrackingPage .gps-container  .bike-container .bikes button:hover{ 
  background-color: #043820;
  color: white;
  border: white solid 1px;
}
#GPSTrackingPage .gps-container  .bike-container .bikes button:focus{ 
  background-color: #043820;
  color: white;
  border: white solid 1px;
}

#GPSTrackingPage .gps-container .map-trace{
  height: fit-content;
  width: auto;
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
}
#GPSTrackingPage .gps-container .map-trace .map{
  background-color: cornsilk;
  width: 430px;
  height: 300px;
  right: 0;
}

#BikeAvailabilityPage .bike-buttons{
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
  width: 550px;
  gap: 55px;
  margin-left: 120px;
  margin-top: 25px;
}
#BikeAvailabilityPage .bike-buttons .bikeButton {
  width: 150px;
  height: 150px;
  appearance: none;
  border: none;
  background-color: #69B578;
  border-radius: 7px;
  font-size: 13px;
  font-weight: bold;
  transition: font-size ease-in-out .2s, background-color ease-in-out .2s;
}
#BikeAvailabilityPage .bike-buttons button:hover {
  font-size: 23px;
  color: white;
  background-color: #28472eef
}

/* Account Page */
#AccountsPage > .container-acc {
  /* background-color: aqua; */
  /* margin-top: 63px; */
  padding: 2rem;
}
#AccountsPage > .container-acc > #title-acc {
  /* background-color: aqua; */
  font-size: 22px;
}
#AccountsPage > .container-acc > #line-divider {
  /* background-color: aqua; */
  width: 100%;
  height: 5px;
  background-color: #099654;
  border-radius: 5px 5px 0 0;
  margin-top: 15px;
}
#table-acc-container {
  margin-top: 50px;
}
table.acc-table {
  background-color: #f5f5f5;
  display: block;
  width: 700px;
  height: 450px;
  overflow: auto;
  white-space: nowrap;
}
table.acc-table td {
  border: 1px solid #f5f5f5;
}
table.acc-table tr:nth-child(odd) {
  background: #dedede;
}
table.acc-table thead th {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
}